/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .reset{
     /* height: 100%;
     width: 100%;
     margin: 0px; */
     /* background-color: skyblue;*/
 } 

 .backgrounImg{
    background-image: url("https://images.unsplash.com/photo-1519638399535-1b036603ac77?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjIxMTIzfQ&dpr=2&auto=format&fit=crop&w=416&h=312&q=60");
   /* background-image: url("https://images.unsplash.com/photo-1536365480814-1072b4655d02?ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80"); */
    background-position: center;
   background-size: cover;
 }
.userMenuNav{
    color:#8ea3b6;
    display: inline-block;
    position: relative;
    left: 85%;
    top: -63px;

}
.down_arrow{
    font-size: 200%;
    position: relative;
    top: 8px;
    left: 0%;
    margin-left: 5px;
}

.userContainer{
    display: flex;
    justify-content: space-between;
}

.dropdown{
    display: none;
    color: red;
}

.dropdownShown{
    display: inline-block;
    position: relative;
    right: 53%;
    top: 35px;
    background-color: rgb(210, 227, 241);
}

.down_arrow2{
    position: relative;
    top: 28px;
    margin-left: 6px;
}

.userHover:hover{
    color: red;
}

.credentialsForm{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 21px;
    padding-right: 21px;
    position: relative;
    left: 60%;
    top: -1px;
    background-color: #e6e6e6;
    width: 40%;
    height: 850px;
}

.formcontainer{
    position: relative;
    top: 33%;
}

.formcontainer input[type=text]{
    display: inline-block;
    font-size: 170%;
    border-radius: 9%;
    width: 100%;
}
.pass-connector{
    display: inline-flex;
    flex-direction: column;
    width: 50%;
}

.pass-connector input[type=password]{
    font-size: 170%;
}

.formcontainer input[type=password]{
    display: inline-block;
}

.formcontainer .passAgain{
    margin-left: 15px;
}

.formcontainer select{
    display: inline-block;
    font-size: 150%;
    border-radius: 9%;
    width: 100%;
}

.formcontainer input[type=date]{
    display: inline-block;
    width: 95%;
    font-size: 150%;
    margin-left: 15px;
}

.formcontainer input[type=submit]{
    display: inline-block;
    border-radius: 5%;
    font-size: 30px;
    margin:20px;
    color: white;
    background-color: #4d6c82;
    width: 90%;
    box-shadow: 3px 3px 5px 1px rgba(0,0,0,.4);
}


.formcontainer input[type=submit]:hover{
    background-color: #6d97b4;
    cursor: pointer;
}

.formLogoHeader{
    font-size: 300%;
    margin: 0;
    font-family: fantasy;
    font-weight: bold;
}

.errorMsg{
   
    color: #dc3545;
}

.passwordsError{
    color: #dc3545;
}

.errorsLogin{
    display: flex;
    justify-content: center;
}

.SignInColor{
    color: #2f8599;
    font-family: Lato,sans-serif;
}

.formcontainer form > .loginInputs{
    width: 145%
}

.userNav{
    text-decoration: none;
    color: #8ea3b6;
}

.mainNav{
    background-color: rgb(61, 61, 180);
    width: 100%;
    height: 20px;
}

/*Users Show stuff */
.mainContentwrapper{
    background-image: url('https://images.unsplash.com/photo-1571757767119-68b8dbed8c97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
    height: 700px;
   background-position: center;
   background-size: cover;
   padding: 0px 40px;
}
.UsersShowSection{
    background-color: #eff3f8;
    width: 100%;
    height: 700px;
}

.columnName{
    
}
td{
    width: 300px;
}

.profileTmp{
    background-image: url('https://www.wallpaperflare.com/static/904/926/480/anime-kono-subarashii-sekai-ni-shukufuku-wo-megumin-sorcerer-wallpaper.jpg');
    background-size: cover;
    height: 165px;
}
.userSplashContainer{
    background-color: white;
}
.userStatsContainer{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.profileName{
    font-weight: 300;
    font-size: 36px;
    font-family: Sans,sans-serif;
}
.table-sidebarContainer{
    display: flex;
    align-items: flex-start;
}
.sidebarBg{
    margin-right: 5px;
    margin-left: 10px;
    margin-top: 20px;
    background-color: white;
    width: fit-content;
    height: fit-content;
}

.userlinks{
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 170px;
    height: 50px;
   
}
.sidebarBg > div{

    border: .5px solid lightgrey;
}
.sidebarBg > div:hover{
    background-color: rgba(0,0,0,.1);
}
.personalinfoPage{
    background-color: white;
    margin: 20px;
    width: 100%;
    height: 220px;
    padding: 20px;
}

.personalInfoBlock{
    border-bottom: 1px solid lightgrey;
}

tr{
    border-top: 1px solid lightgrey;
    width: 100%;
    
}
td{
    padding: 10px;
}
table {
    margin: 0;
  border-collapse: collapse;
  border-spacing: 0 15px;
}
.RemoveTextDec{
    text-decoration: none;
}

.sidebarLinksStyle{
    color: black;
}