/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .reset{
     /* height: 100%;
     width: 100%;
     margin: 0px; */
     /* background-color: skyblue;*/
 } 

 .backgrounImg{
    background-image: url("https://images.unsplash.com/photo-1519638399535-1b036603ac77?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjIxMTIzfQ&dpr=2&auto=format&fit=crop&w=416&h=312&q=60");
   /* background-image: url("https://images.unsplash.com/photo-1536365480814-1072b4655d02?ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80"); */
    background-position: center;
   background-size: cover;
 }
.userMenuNav{
    color:#8ea3b6;
    display: inline-block;
    position: relative;
    left: 85%;
    top: -63px;

}
.down_arrow{
    font-size: 200%;
    position: relative;
    top: 8px;
    left: 0%;
    margin-left: 5px;
}

.userContainer{
    display: flex;
    justify-content: space-between;
}

.dropdown{
    display: none;
    color: red;
}

.dropdownShown{
    display: inline-block;
    position: relative;
    right: 53%;
    top: 35px;
    background-color: rgb(210, 227, 241);
}

.userHover:hover{
    color: red;
}

.credentialsForm{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    position: relative;
    left: 60%;
    top: -1px;
    background-color: #e6e6e6;
    width: 40%;
    height: 850px;
}

.formcontainer{
    position: relative;
    top: 33%;
}

.formcontainer input[type=text], input[type=password]{
    display: block;
    font-size: 170%;
    border-radius: 9%;
    width: 200%;
}

.formcontainer input[type=submit]{
   border-radius: 5%;
    font-size: 30px;
    margin:20px;
    background-color: #4d6c82;
}

.formcontainer input[type=submit]:hover{
    background-color: #6d97b4;
}

.formLogoHeader{
    font-size: 300%;
    margin: 0;
    font-family: fantasy;
    font-weight: bold;
}

.errorMsg{
    color: red;
}