.fictionsBox{
    background-color: white;
    /* width: fit-content;
    height: fit-content; */

    width: 100%;
    height: fit-content;
    padding: 20px;
    position: relative;
    top: 4rem;
    margin: 15px;
}

button{
    cursor: pointer;
}
.singleFictionShow{
    background-color: #eff3f8;
    width: 100%;
    /* min-height: 90%; */
    height: 90%;
    /* display: flex; */
    padding-top: 30px;
    position: relative;
    top: 5%;
    overflow: scroll;
    left: -.5%;
}

.fictionsShowContainer{
    background-color: #eff3f8;
    width: 100%;
    /* min-height: 90%; */
    height: 90%;
    display: flex;
    padding: 10px 15px;
    position: relative;
    top: 5%;
    overflow: scroll;
    left: -.5%;
}

.fictionsShowbar{
    background-color: white;
    width: 212.5px;
    height: 120px;
}

.FictionsHeader{
    display: flex;
    justify-content: space-between;
    height: 50.33px;
    
    border-bottom: 1px solid lightgrey;
    padding: 6px 0px 14px;
    box-sizing: border-box;
    /* margin: 0 !important; */
}

.fictionWord{
    color: #e26a6a;
    margin-left: 10px;
}
.iconWordConatainer{
    display: flex;
    align-items: center;
}

.iconPlacer{
    top: 20px;
}
.newStoryButton{
    width: 98.78px;
    height: 29.33px;
    font-size: 13px;
    line-height: 1.5;
    color: white;
    background-color: #e26a6a;
}

.newStoryButton:hover{
    background-color: #ce4c4c;
}

.defaultCover{
    background-image: url('https://www.wallpaperflare.com/static/904/926/480/anime-kono-subarashii-sekai-ni-shukufuku-wo-megumin-sorcerer-wallpaper.jpg');
    background-position: center;
    width: 15%;
    /* height: 119.38px; */

    background-size: cover;
}

.fictionBlock{
    display: flex;
    padding: 15px 15px;
    border-bottom: 1px solid lightgray;
}
.fictionTitle{
    /* padding-left: 15px; */
    /* padding-left: 10%; */
    color: #e26a6a;
}

.fictionShowButtons ul{
    display: flex;
    /* padding: 10px; */
    padding: 0px;
    width: 100%;
   
}
.SingleFictionHolder{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 30px;
}
.followersFavoritesAmount{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.showButton{
    width: 33%;
    height: 34px;
}
.pageButton{
    
    background-color: #67809F;
    border: 1px solid #67809F;
    font: 14px sans-serif;
}
.dashButton{
    
    background-color: #525E64;
    border: 1px solid #525E64;
    font: 14px sans-serif;
}
.addChapterButton{
background-color: #67809F;
border: 1px solid #67809F;
    font: 14px sans-serif;
}
.fictionHeader{
    width: 100%;
    height: 25%;
}

.HeaderBg{
    width: 100%;
    height: 100%;
    background-color: #2a3642;
    padding: 0px 30px;
}
.showTitle{
    font-size: 30px;
    color: white;
    font-family: sans-serif;
    font-weight: 300;
    /* display: inline-block; */
   
    width: fit-content;
    margin: 0;
}
.showTitleBlock{
 position: relative;
    top: -148%;
    right: -24%;
}
.cover{
    margin-top: 3%;
    width :20%;
    height:170%;
    background-size: auto;
    border: 3px white solid;
    /* display: inline-block; */
}

.byAuthor{
    margin-top:10px;
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 300;
}
.showBelowHeader{
    /* display: block; */
    width: 100%;
    height: 100%;
}
.showLeftSide{
    width: 70%;
    height: 100%;
    padding-left: 15px;
    box-sizing: border-box;
    
}
.showSynposisContainer{
    width:100%;
    height: 40%;
    background-color: white;
    padding-left: 37%;
    box-sizing: border-box;
}
.synposisContentContainer{
    width: 100%;
    height: 100%;
    padding-top: 7px;
    /* padding-right: 15px; */
}
.genreList{
    margin-top: 0px;
    margin-left: 0px;
    padding: 0;
    display: flex;
}
.RemoveListStyle{
    list-style: none;
}
.genreItem{
    background-color: #67809F;
    color: white;
    font-family: sans-serif;
    font-weight: 100;
    margin-right: 5px;
    box-sizing: border-box;
    padding: 3px 5px;
}
.SynopsisBlock{
    padding-right: 10%;
    box-sizing: border-box;
}

.TableOfContentsContainer{
    background-color: white;
    width: 66%;
    height: 100%;
    box-sizing: border-box;
}